.sidebar{
    width: 260px;
    height: 100vh;
    background-color: var(--main-color);
    border-left: 1px solid var(--border-color);
    position: absolute;
    top: 0;
    z-index: 99;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
}
.sidebarActive{
    transform: translateX(0%);
}
.topSidebar{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.logoSidebar img{
    width: 70px;
}
.closeSidebar{
    cursor: pointer;
    transition: 0.2s;
}
.closeSidebar:hover{
    color: red;
}

/* sidebar itmes */
.sidebarItems{
    margin-right: 15px;
}
.siebarItem{
    display: flex;
    align-items: center;
    height: 30px;
    margin: 12px 0;
}
.sidebarIcon{
    color: var(--text-color);
    font-size: 18px;
    margin-left: 5px;
}
.sidebarName{
    color: var(--text-color);
}
.authSidebar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.authSidebar a{
    color: var(--text-color);
}


/* change theme icon */
.themeMode{
    text-align: left;
    font-size: 10px;
    margin-left: 17px;
}
.toggle {
    --size: 21px;
    background-color: rgb(56, 54, 54);
    padding: 5px !important;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: #e6e6ff;
    transition: all 500ms;
}
.toggle:checked {
    --ray-size: calc(var(--size) * -0.4);
    --offset-orthogonal: calc(var(--size) * 0.65);
    --offset-diagonal: calc(var(--size) * 0.45);
    transform: scale(0.75);
    color: #fa0;
    box-shadow: inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}
.toggle {
    z-index: 1;
}
.toggle:checked ~ .background {
    --bg: white;
}


.sidebarMenu{
    background-color: transparent !important;
    color: var(--text-color);
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-p7e5j5).ant-menu-light>.ant-menu .ant-menu-item-selected{
    background-color: #1677FF;
    color: var(--text-color);
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-p7e5j5).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline{
    background-color: var(--active) !important;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 14px;
}
