.appBar{
    background-color: var(--main-color);
    height: 90px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}
.headerMenuItems{
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.menuItem{
    margin: 8px;
    cursor: pointer;
    transition: 0.2s;
    padding: 7px 15px;
    background: var(--gradient);
    box-shadow: var(--shadow);
    border-radius: 50px;
    color: var(--sub-color);
}
.menuItem:hover{
    box-shadow: var(--shadow-hover);
    padding: 7px 15px;
    border-radius: 50px;
}
.menuItemActive{
    box-shadow: var(--shadow-hover);
    color: aliceblue;
}
.headerLeftItem{
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.headerAuth{
    margin-left: 70px;
    background: var(--gradient);
    box-shadow: var(--shadow);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    color: var(--text-color);
    
}
.headerAuth:hover{
    box-shadow: var(--shadow-hover);
}
.headerLogo{
    width: 70px;
    display: flex;
    align-items: center;
}
.hamberIconSlider{
    display: none;
}
.hamberIcon{
    display: none;
}
@media (max-width: 1024px){
    .hamberIconSlider{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    .hamberIcon{
     display: block;
     cursor: pointer;
     padding: 4px;
    }
    .headerMenuItems{
        display: none;
    }
    .headerAuth{
        display: none;
    }
}
@media(max-width: 500px){
    .hamberIcon{
        margin: 0 0 !important;
    }
    .headerLogo{
        width: 50px;
    }
    .headerLeftItem{
        padding-left: 15px;
    }
}
