.userInfo{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.inputParent{
    width: 49%;
    margin-top: 5px;
}
.inputTitle{
    width: 95%;
    margin-right: 8%;
}
.backInput{
    width: 84%;
    height: 30px;
    box-shadow: var(--active-shadow);
    margin: 7px auto 0 auto;
    border-radius: 20px;
    padding: 6px;
}
.UserProfile{
   text-align: center;
}
.Profiletitle{
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}