.userImgProfile {
    width: 50px;
    border: none !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid var(--sub-color) !important;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg);
    box-shadow: var(--shadow);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.dropdown-content a:hover {
    background-color: var(--sub-color);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.usernameName{
    padding: 10px 20px;
}
