
.css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: var(--main-color) !important;
    border-radius: -10px !important;
}
.colorMenuItem{
    color: var(--text-color);
}
.userNameAppbar{
    color: var(--text-color);
    padding: 0px 7px 7px 7px;
    margin: 3px;
    font-size: 13px;
    border-bottom: 1px solid var(--border-color);
}