.accordionGroup{
    /* box-shadow: var(--shadow) !important; */
    background: transparent !important;
    color: var(--text-color) !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
    min-height: 0 !important;
}
.margin{
    margin: 0;
    padding: 0;
}
