.cateSearch{
    direction: rtl !important;
    width: 400px;
}
.backInputCate{
    width: 400px;
    height: 30px;
    box-shadow: var(--active-shadow);
    margin: 7px auto 0 auto;
    border-radius: 20px;
    padding: 6px;
}
.showCatesLilam{
    padding: 10px;
    margin: 15px 0px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'vazir';
}
.fileContainer{
    background-color: transparent !important;
    border: 1px solid var(--sub-color);
    text-align: center;
}
.selected{
    color: greenyellow;
}
/* modal */
.cateLilam{
    box-shadow: var(--shadow);
    background-color: var(--gradient);
    color: var(--text-color) !important;
    border: none !important;
    font-size: 15px;
    margin: 5px 0 20px 0 !important;
    padding: 5px 50px !important;
    font-family: 'vazir' !important;
    border-radius: 10px !important;
}
.modalStyle{
    font-family: 'vazir' !important;
    background-color: var(--bg) !important;
    color: var(--text-color) !important;
}