.mainSingleLilam{
    height: auto;
    margin-top: 30px;
    direction: ltr;
}
.detailsProduct{
    width: 48%;
    height: 100%;
    color: var(--text-color);
    box-shadow: var(--active-shadow);
    padding: 20px;
    direction: rtl;
}
.productName{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}
.lilamDesc{
    margin-top: 40px;
}
.ulProduct{
    padding: 0 10px 0 0;
}

.photoProduct{
    padding: 20px;
    width: 48%;
    height: 100%;
    box-shadow: var(--active-shadow);
}

@media(max-width: 1024px){
    .mainSingleLilam{
        display: block !important;
    }
    .photoProduct{
        width: 85%;
    }
    .detailsProduct{
        width: 85%;
    }
}