.userSidebar{
    height: auto;
    margin-top: 30px;
}
.img-avatar{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-avatar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.userSidebarSingleItems{
    margin-top: 15px !important;
    margin-right: 16px;
}
.p-t{
    margin-top: 30px;
}
.accordionLink{
    display: flex;
    align-items: center;
}
.hideSidbar{
    width: 20%;
}
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded{
    margin: 10px 0 !important;
}
@media (max-width: 1024px){
    .hideSidbar{
        display: none;
        visibility: hidden;
    }
    .showSingle{
        justify-content: center;
    }
}
.css-15v22id-MuiAccordionDetails-root{
    padding: 0px 8px 10px 8px !important;
}