.overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.603);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.overlayActive{
    opacity: 1;
    visibility: visible;
}
.sidebar{
    width: 260px;
    height: 100vh;
    background-color: var(--main-color);
    border-left: 1px solid var(--border-color);
    position: absolute;
    top: 0;
    z-index: 9;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
}
.sidebarActive{
    transform: translateX(0%);
}
.topSidebar{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.logoSidebar img{
    width: 70px;
}
.closeSidebar{
    cursor: pointer;
}
.closeSidebar:hover{
    color: red;
}