.userSidebar{
    width: 23%;
    height: 700px;
}
.img-avatar{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-avatar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.userSidebarItems{
    margin-top: 30px;
}
.accordionLink{
    display: flex;
    align-items: center;
}