.userSidebar{
    width: 23%;
    height: auto;
}
.img-avatar{
    display: flex;
    justify-content: center;
    width: 100%;
}
.img-avatar img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.userSidebarSingleItems{
    margin-right: 16px;
}
.p-t{
    margin-top: 30px;
}
.accordionLink{
    display: flex;
    align-items: center;
}
.css-o4b71y-MuiAccordionSummary-content.Mui-expanded{
    margin: 10px 0 !important;
}