.cateLilam{
    box-shadow: var(--shadow);
    background-color: var(--gradient);
    color: var(--text-color) !important;
    border: none !important;
    font-size: 15px;
    margin: 5px 0 20px 0 !important;
    padding: 5px 50px !important;
    font-family: 'vazir' !important;
    border-radius: 10px !important;
}
.cateLilam:hover{
    border: none;
    box-shadow: var(--active-shadow);
}