.cardSection {
    width: 60%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    background: #121721;
    box-shadow: inset 5px 5px 7px #0c1017,
        inset -5px -5px 7px #181e2b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardItem{
    width: 28%;
    height: 200px;
    border-radius: 26px;
    background: var(--gradient);
    box-shadow: var(--shadow);
    text-align: center;
    cursor: pointer;
    margin: 20px;
}

.cardIcon{
    margin: 20px 0;
    font-size: 80px;
}
.cardTitle{
    margin-top: 7px;
    font-weight: bold;
}
.cardItem:hover{
    box-shadow: var(--shadow-hover);
}

@media (max-width: 1200px) {
    .cardSection{
        width: 90%;
    }
}
@media (max-width: 800px) {
    .cardItem{
        width: 20%;
        height: 170px;
    }
    .cardIcon{
        margin: 20px 0;
        font-size: 60px;
    }
}
@media (max-width: 700px) {
    .cardSection{
        width: 75%;
        display: flex;
        flex-wrap: wrap;
    }
    .cardItem{
        width: 40%;
        height: 170px;
    }
}
@media (max-width: 700px) {
    .cardSection{
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }
    .cardItem{
        width: 40%;
        margin: 10px;
        height: 90px;
    }
    .cardIcon{
        margin: 20px 0;
        font-size: 35px;
        margin: 5px;
    }
    .cardTitle{
        font-size: 15px;
        margin: 0;
    }
}